
<!DOCTYPE html>
<!--
The ad.html has a very specific format.

Really there are two "ads" contained within this file.

The first ad displays to participants who are browsing
the Amazon Mechanical Turk site but have not yet accepted
your hit.

The second part of the ad display after the person selected
"Accept HIT" on the Amazon website.  This will reload the
ad and will display a button which, when clicked, will pop
open a new browser window pointed at your local psiTurk
server (assuming it is running and accessible to the Internet).

See comments throughout for hints

-->
<html>
<head>
    <meta charset="utf-8" />
    <title>Handoff Experiment</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <style type="text/css">
        /* these tyles need to be defined locally */
        body {
          padding:0px;
          margin: 0px;
          background-color: white;
          color: black;
          font-weight: 300;
          font-size: 13pt;
        }

        /* ad.html  - the ad that people view first */
        #adlogo {
          width: 200px;
          padding: 10px;
          display: block;
        }

        #container-flyer {
          background: white;
          margin: 30px;
        }

        .exampleImages {
          width: 400px;
          padding: 10px;
          display: block;
        }

        h1 {
          margin-top: 0px;
        }
    </style>
</head>
<body>
<div id="container-flyer" class="media">
    <div class="media-left pull-left" href='#'>
        <img id="adlogo" src="{{ server_location }}/static/images/university.png" alt="Lab Logo" />
    </div>
    <div class="media-body">

      <!--
     If assignmentid is "ASSIGNMENT_ID_NOT_AVAILABLE"
     it means the participant has NOT accepted your hit.
     This should display the typical advertisement about
     your experiment: who can participate, what the
     payment is, the time, etc...

       -->
       {% if assignmentid == "ASSIGNMENT_ID_NOT_AVAILABLE" %}

       <h1>THIS IS NOT THE ACTUAL HIT!</h1>
       <p>IT IS TO BE USED ONLY TO CHECK FOR COMPATIBILITY ISSUES BEFORE COMPLETEING THE ACTUAL HIT. </p>
       <p>This task will take no more than <strong>30 seconds.</strong> </p>
       <h2>How to use this</h2>
         <ol>
           <li>Click begin Compatibility Test</li>
           <li>See if a driving game loads. The start screen will look similar to this</li>
              <ul>
                <li><img id="startScreenNoDistractor" class="exampleImages" src="{{ server_location }}/static/images/startScreenNoDistractor.png" alt="Lab Logo" /></li>
                <li><img id="startScreenDistractor" class="exampleImages" src="{{ server_location }}/static/images/startScreenWithDistractor.png" alt="Lab Logo" /></li>
              </ul>
            <li>If the screen looks like the above screenshots, your browser is compatible with the experiment! Please go to the hit in the mturk interface and click Continue Experiment</li>
            <li>If your screen does <strong>NOT</strong> look like the above screenshots, your browser is <strong>NOT</strong>  compatible with the experiment! Please return to the hit in the mturk interface and <strong>return the hit.</strong></li>
          </ol>
       


      <p>Note: the experiment will only work in recent browsers, and
       may have difficulty loading on slower connections.</p>

       <div class="alert alert-warning">
         <strong>This task can only be completed once.</strong>
         If you have already started or completed this task the system will not
         allow you to run again. If you have previously accepted a HIT
         with the same title as this one, please return this HIT.
     </div>
     <p>
         Otherwise, please click the "Accept HIT" button on the Amazon site
         above to begin the task.
     </p>

        {% else %}

      <!--
     OTHERWISE
     If assignmentid is NOT "ASSIGNMENT_ID_NOT_AVAILABLE"
     it means the participant has accepted your hit.
     You should thus show them instructions to begin the
     experiment ... usually a button to launch a new browser
     window pointed at your server.

                 It is important you do not change the code for the
                 openwindow() function below if you want you experiment
                 to work.
             -->

             <p>THIS IS NOT THE ACTUAL HIT!</p>
       <p>IT IS TO BE USED ONLY TO CHECK FOR COMPATIBILITY ISSUES BEFORE COMPLETEING THE ACTUAL HIT. </p>
       <p> How to use this:
         <ol>
           <li>Click begin Compatibility Test</li>
           <li>See if a driving game loads. The start screen will look similar to this</li>
              <ul>
                <li><img id="startScreenNoDistractor" class="exampleImages" src="{{ server_location }}/static/images/startScreenNoDistractor.png" alt="Lab Logo" /></li>
                <li><img id="startScreenDistractor" class="exampleImages" src="{{ server_location }}/static/images/startScreenWithDistractor.png" alt="Lab Logo" /></li>
              </ul>
            <li>If that works, please return to the hit in the mturk interface and click continue Experiment</li>
            <li>If that does <strong>not</strong> work, please return to the hit in the mturk interface and <strong>return the hit.</strong></li>
          </ol>
       </p>


      <p>Note: the experiment will only work in recent browsers, and
       may have difficulty loading on slower connections.</p>

       <div class="alert alert-warning">
         <strong>This task can only be completed once.</strong>
         If you have already started or completed this task the system will not
         allow you to run again. If you have previously accepted a HIT
         with the same title as this one, please return this HIT.
     </div>
     <p>
         Otherwise, please click the "Accept HIT" button on the Amazon site
         above to begin the task.
     </p>
             <script type="text/javascript">
             function openwindow() {
                 popup = window.open('{{ server_location }}/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}','Popup','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=no,width='+screen.width+',height='+screen.height+'');
             }
             </script>
             <div class="alert alert-warning">
                 <b>Warning</b>: Please disable pop-up blockers before continuing.
             </div>
             <div class="alert alert-warning">
              <b>Warning</b>: The surveys will not work on the latest release of Firefox. Please use a differenct browser.
          </div>

             <button type="button" class="btn btn-primary btn-lg" onClick="openwindow();">
                 Begin Compatibility Test
             </button>

        {% endif %}
      <!--
     endif
       -->
    </div>
</div>

</body>
</html>
