<!-- bonusQuestionnaire.html -->

<div id="container-questionnaire">
    <h1>Thank you choosing to complete the bonus questionnaire!</h1>

    <hr />
    
    </div>
    
    <div id="qualtrics-holder">
        <iframe name="bonusquestionnaire" id="bonusquestionnaire" width="1080px"
        height='500px'></iframe>
    </div> 

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <center>
                    <button type="button" id="continueToFinish" value="continueToFinish" class="btn btn-primary btn-lg continue" style="visibility: hidden;">
                        Done <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </center>
            </div>
        </div>
    </div>

