<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            If you'd like to earn an complete a bonus questionnaire and earn an additional $1.50, please <i>Continue to Additional Survey</i> otherwise press <i>Exit Experiment</i>
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="continueToAdditionalSurvey" value="continueToAdditionalSurvey" class="btn btn-primary btn-lg continueToAdditionalSurvey">
                <span class="glyphicon glyphicon-arrow-right"></span> Continue to Additional Survey
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="continueToExit" value="continueToExit" class="btn btn-primary btn-lg continueToExit">
                Exit Experiment <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
