<div id="container-questionnaire">
    <h1>Thank you for completeing the game portion of the study!</h1>

    <hr />

    <p>You're almost done! Please fill out the following questionnaire.</p>
    
    </div>
    
    <div id="qualtrics-holder">
        <iframe name="questionnaire" id="questionnaire" width="1080px"
        height='500px'></iframe>
    </div> 

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <center>
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" > <!--- style="visibility: hidden;"--->
                        Done <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </center>
            </div>
        </div>
    </div>


</div>
