<div id="container-questionnaire">
    

    <hr />

    
    
    </div>
    
    <div id="qualtrics-holder">
        <iframe name="questionnaire" id="questionnaire" width="1080px"
        height='500px',></iframe>
    </div> 

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <center>
                    <h2 id="exitQuestionnaire" style="display:hidden ;">Your browser appears to be compatible! Please begin the real hit.</h2>
                </center>
            </div>
        </div>
    </div>


</div>
