<div id="container-instructions">
    
    <h1>Instructions</h1>
    
    <hr />
    
    <center>
        <div id="player"></div>
        <script>
            var tag = document.createElement('script');
            //tag.id = 'iframe-demo';
            tag.src = 'https://www.youtube.com/iframe_api';
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
            
            var player;
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    width : '850',
                    height : '458',
                    videoId: '2z3OQov5oiE',
                    controls : 1,
                    events: {
                        'onReady': onPlayerReady,
                        'onStateChange': onPlayerStateChange
                    }
                });
            }
            // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
                event.target.playVideo();
            }
            
            function onPlayerStateChange(event) {
                if (state === 0) {
                    getElementById("next").style.visibility = "visible";
                }
            }
        </script>
    </center>
    
    
    <hr />
    
    <div class="instructionsnav">
        
        <p>
            Please watch the following video for instructions. Once you're done with the video, a button will appear to take you to the 1 minute trial of the game.
        </p>
        <div class="row">
            <div class="col-xs-2">
                <!--  Maybe not previous button on this screen? -->
                <!--
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                        <span class="glyphicon glyphicon-arrow-left"></span> Previous
                    </button>
                -->
            </div>
            <div class="col-xs-8">
                <center>
                    <button type="button" id="next" value="next" class="btn btn-success btn-lg continue" style="visibility: hidden;">
                        Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </center>
            </div>
            <div class="col-xs-2">
                
            </div>
        </div>
    </div>
    
</div>
