<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <center>
            <iframe width="1280" height="720" src="https://www.youtube.com/embed/2z3OQov5oiE?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; controls" allowfullscreen></iframe>
    </center>


    <hr />

    <div class="instructionsnav">
        <p>
		    Please watch the following video for instructions. Once you're done with the video, a button will appear to take you to the 1 minute trial of the game.
	    </p>
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue" style="visibility: hidden;">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
